body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
  background-color: #ccdfec;
  color: white;
  text-align: center;
}

header {
    background-color: #ffc6d0;
    padding: 1rem;
}

.controls {
  margin-bottom: 1rem;
}

#breedSelect,
#breedSearch,
#newCatBtn,
#favBtn {
  margin: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.cat-container {
  margin: 1rem 0;
}

#catImage {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px #ffb6c1;
}

#catInfo {
  margin-top: 0.5rem;
  font-weight: bold;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.favorite-item {
  width: 100px;
  cursor: pointer;
  position: relative;
}

.favorite-item img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 5px #ffb6c1;
}

.favorite-item button {
  position: absolute;
  top: 3px;
  right: 3px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
}