body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
  background-color: #ccdfec;
  color: white;
  text-align: center;
}

header {
    background-color: #ffc6d0;
    padding: 1rem;
}

.controls {
  margin-bottom: 1rem;
}

#breedSelect,
#breedSearch,
#newCatBtn,
#favBtn {
  margin: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.cat-container {
  margin: 1rem 0;
}

#catImage {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px #ffb6c1;
}

#catInfo {
  margin-top: 0.5rem;
  font-weight: bold;
}